.body {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.menu-header {
  background-color: rgb(130, 138, 28);
  color: rgb(241, 236, 236);
  width: 100%;
  height: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.menu-header h1 {
  color: rgb(0, 0, 0);
  text-align: center;
  font-size: 250%;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.logo-img {
  height: 20%;
  width: 20%;
  align-items: center;
}

.boton-menu {
  background-color: transparent;
  border: 0;
  color: rgb(0, 0, 0);
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  font-size: 1rem;
  width: 100%;
  margin-top: 10%;
  border-radius: 1rem;
  font-weight: 800;
}

.boton-categoria {
  background-color: rgba(240, 248, 255, 0.589);
}

.imagen-boton {
  border-radius: 1rem;
  height: 10rem;
  width: 10rem;
}

.numerito {
  background-color: white;
  color: rgb(60, 13, 23);
  padding: 0.15rem 0.25rem;
  border-radius: 0.25rem;
}

ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 100%;
}

.img-carrito {
  font-size: 4rem;
  border-radius: 0.25rem;
  padding: 0.15rem;
}

.titulo-principal {
  font-size: 3rem;
  color: rgb(0, 0, 0);
  margin-bottom: 1rem;
  text-align: center;
}

.bienvenidos {
  margin-top: 15%;
}
.bienvenidos h2 {
  color: rgb(255, 255, 255);
  font-size: 500%;
  text-align: center;
  margin-bottom: 9%;
}
.bienvenidos p {
  color: rgb(255, 255, 255);
  font-size: 30px;
  text-align: center;
  background-color: rgba(46, 43, 43, 0.616);
  margin-inline: 6%;
  padding: 3%;
  border-radius: 1rem;
}

.descorche {
  margin-top: 12%;
}
.descorche h2 {
  color: rgb(255, 255, 255);
  font-size: 70px;
  text-align: center;
  margin-bottom: 5%;
}
.descorche p {
  color: rgb(255, 255, 255);
  font-size: 30px;
  text-align: center;
  background-color: rgba(46, 43, 43, 0.616);
  margin-inline: 6%;
  padding: 3%;
  border-radius: 1rem;
}

.contenedor-productos {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
}

.producto {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  max-width: 100%;
  max-height: 100%;
}

.producto-imagen {
  max-width: 100%;
  border-radius: 1rem;
}

.producto-detalles {
  background-color: rgb(60, 13, 23);
  height: 100%;
  width: 100%;
  color: beige;
  padding: 1rem;
  border-radius: 1rem;
  margin-top: -0.6rem;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 0.1rem;
  margin-inline: 0.7rem;
}

.producto-titulo {
  font-size: 1rem;
}

.producto-agregar {
  border: 0;
  background-color: white;
  color: rgb(60, 13, 23);
  padding: 0.4rem;
  text-transform: uppercase;
  border-radius: 2rem;
  cursor: pointer;
  border: 2px solid white;
  transition: background-color 0.2s, color 0.2s;
}

.producto-agregar:hover {
  background-color: rgb(60, 13, 23);
  color: wheat;
}

.contenedor-carrito {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.carrito-vacio,
.carrito-comprado {
  background-color: rgb(129, 79, 14);
  color: rgb(255, 255, 255);
  padding: 20px;
  margin: 15%;
  text-align: center;
  font-size: 1rem;
  border-radius: 1rem;
}

.carrito-productos {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.carrito-cantidad {
  text-align: center;
}

.carrito-producto {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: cornflowerblue;
  color: blue;
  padding: 0.1rem;
  padding-right: 1rem;
  border-radius: 1rem;
}

.carrito-producto-imagen {
  width: 9rem;
  height: 9rem;
  border-radius: 1rem;
}

.carrito-producto small {
  font-size: 1rem;
}

.carrito-producto-eliminar {
  border: 0;
  background-color: transparent;
  color: darkred;
  cursor: pointer;
  font-size: 150%;
}

.carrito-acciones {
  display: flex;
  justify-content: space-between;
}

.carrito-acciones-vaciar {
  border: 0;
  background-color: brown;
  padding: 1rem;
  border-radius: 1rem;
  color: black;
  text-transform: uppercase;
  cursor: pointer;
}

.carrito-acciones-derecha {
  display: flex;
}

.carrito-acciones-total {
  display: flex;
  background-color: chartreuse;
  padding: 1rem;
  color: black;
  text-transform: uppercase;
  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem;
  gap: 1rem;
}

.carrito-acciones-comprar {
  border: 0;
  background-color: chartreuse;
  padding: 1rem;
  color: black;
  text-transform: uppercase;
  cursor: pointer;
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
}

.disabled {
  display: none;
}

.boton-volver {
  background-color: rgba(240, 248, 255, 0.596);
  padding: 0.2rem;
}

.boton-carrito {
  background-color: rgba(240, 248, 255, 0.699);
  padding: 0.2rem;
}

.suma {
  cursor: pointer;
  background-color: aliceblue;
}

.resta {
  cursor: pointer;
  background-color: aliceblue;
}

/*# sourceMappingURL=style.css.map */
