.menu-header{ 

    background-color: rgb(130, 138, 28);
    color: rgb(241, 236, 236);
    width: 100%;
    height: 20%;
    display: flex;
    justify-content:center;
    align-items: center;
    flex-direction: column;
   
 
    h1{
        color: rgb(0, 0, 0);
        text-align: center;
        font-size: 250%;
    }
}



.logo{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.logo-img{
    height: 20%;
    width: 20%;
    align-items: center;
    
}



.boton-menu {
    background-color:transparent;
    border: 0;
    color: black;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;  
    font-size: 1rem;
    width: 100%;
    margin-top: 10%;
    border-radius: 1rem;
    font-weight: 800;
}

.imagen-boton{
    border-radius: 1rem;
    height:10rem ;
    width: 10rem;
}






.numerito {
    background-color: white;
    color:rgb(60, 13, 23);
    padding: .15rem .25rem;
    border-radius: .25rem;
}



ul{
    
    list-style:none;
    display: flex;
    justify-content:space-around;
    align-items: center;
    width: 100%;
    height: 100%;
}


.img-carrito{
    font-size: 4rem;
}

.titulo-principal {
    font-size: 3rem;
    color: rgb(0, 0, 0);
    margin-bottom: 1rem;
    text-align: center;
}


.bienvenidos{

    margin-top: 15%;

h2{
    
    color: rgb(255, 255, 255);
    font-size: 500%;
    text-align: center;
    margin-bottom: 9%;
    
}

p{
    color: rgb(255, 255, 255);
    font-size: 30px;
    text-align: center;
    background-color: rgba(46, 43, 43, 0.616);
    margin-inline: 6%;
    padding: 3%;
    border-radius: 1rem;
}

}

.descorche{

    margin-top: 12%;


    h2{
        color: rgb(255, 255, 255);
        font-size: 70px;
        text-align: center;
        margin-bottom: 5%;

    }
    
    p{
        color: rgb(255, 255, 255);
        font-size: 30px;
        text-align: center;
        background-color: rgba(46, 43, 43, 0.616);
        margin-inline: 6%;
        padding: 3%;
        border-radius: 1rem;
    }

}

.contenedor-productos{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
}

.producto{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; 
    max-width: 100%;
    max-height: 100%;
} 

.producto-imagen{
  
    margin: 0%;
    border-radius: 1rem;
    height: 80%;
    width: 80%;
    
}



.producto-detalles{
    background-color:rgb(60, 13, 23);
    color: beige;
    padding: .4rem;
    border-radius: 1rem;
    margin-top: -0.5rem;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: .25rem;
    margin-inline: 0.7rem;
    max-width: 100%;
    max-height: 100%;
}

.producto-titulo {
    font-size: 1rem;
    
}

.producto-agregar {
    border: 0;
    background-color: white;
    color: rgb(60, 13, 23);
    padding: .4rem;
    text-transform: uppercase;
    border-radius: 2rem;
    cursor: pointer;
    border: 2px solid white;
    transition: background-color .2s, color .2s;
}

.producto-agregar:hover {
    background-color:rgb(60, 13, 23) ;
    color: wheat;
}
 